@import 'tailwindcss';
@source "../views";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --background-color: #000;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* S'assurer que certains éléments d'UI standard héritent aussi du fond noir */
html {
    background-color: var(--background-color);
}

/* Assurer que le contenu principal a aussi un fond noir */
#app {
    background-color: var(--background-color);
}